<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        }
        table {
            padding: 0;
            border-spacing: 0;
            border: solid 1px black;
        }
        table td {
            vertical-align: top;
            border: solid 1px black;
            padding: 10px;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="timestamp" type="java.util.Date"*/-->
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="status" type="java.lang.String"*/-->
<!--/*@thymesVar id="exception" type="java.lang.String"*/-->
<!--/*@thymesVar id="trace" type="java.lang.String"*/-->
<h1>Error <span th:text="${timestamp}"></span></h1>
<!--suppress HtmlDeprecatedAttribute -->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>Date</td>
        <td th:text="${timestamp}"></td>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"></td>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"></td>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"></td>
    </tr>
    <tr>
        <td>Message</td>
        <td th:text="${message}"></td>
    </tr>
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"></td>
    </tr>
    <tr>
        <td>Trace</td>
        <td>
            <pre th:text="${trace}"></pre>
        </td>
    </tr>
</table>
</body>
</html>